<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    {% load static %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>KotoLog</title>
</head>
<body>
    <header class="navbar navbar-expand-md sticky-top py-3">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static "img/kotolog.png" %}" alt="KotoLog" width="100px">
        </a>

        <!-- チェックボックスでアイコン制御 -->
        <input type="checkbox" id="menuToggle" class="d-none">
        <label for="menuToggle" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </label>

        <!-- 検索フォーム -->
        <div class="d-none d-md-flex mx-auto">
            <form method="GET" action="{% url 'journals:childcare_journal_list' %}" class="d-flex search-form">
                {{ search_form.search_query }}
                {{ search_form.filter_option }}
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="{% static "img/search.png" %}" alt="検索" width="20px">
                </button>
            </form>
        </div>

        <!-- ハンバーガーメニュー内のコンテンツ -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <!-- モバイル時の検索フォーム -->
                <li class="nav-item d-md-none">
                    <form method="GET" action="{% url 'journals:childcare_journal_list' %}" class="d-flex search-form">
                        {{ search_form.search_query }}
                        {{ search_form.filter_option }}
                        <button type="submit" class="btn btn-outline-secondary">
                            <img src="{% static "img/search.png" %}" alt="検索" width="20px">
                        </button>
                    </form>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'journals:create_childcare_journal' %}">
                        <img src="{% static "img/edit.png" %}" alt="育児記録作成" width="24px">
                        <span class="d-md-none">育児記録作成</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'journals:childcare_journal_list' %}?favorites=true">お気に入り</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:user_page' %}">アカウント情報</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
