{% extends 'common/base.html' %}
{% block content %}
<section class"home">
    <h1>Home</h1>
    {% if messages %}
      <div class="alert alert-success">
          {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
      </div>      
    {% endif %}
    <section class="mb-4">
        <h2>最近のKotoLog</h2>
        <a href="{% url 'journals:childcare_journal_list' %}?segment=public">すべて見る</a>
        <div id="recentCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        {% for journal in public_journals %}
                            {% include 'journals/childcare_journal_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#recentCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">前へ</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recentCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">次へ</span>
            </button>
        </div>
    </section>
    <section class="mb-4">
        <h2>よく見られているKotoLog</h2>
        <div id="popularCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        {% for journal in popular_journals %}
                            {% include 'journals/childcare_journal_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>    
    {% if user.is_authenticated %}
        {% if request.user.family %}
        <section class="mb-4">
            <h2>家族のKotoLog</h2>
            <a href="{% url 'journals:childcare_journal_list' %}?segment=family">すべて見る</a>
            <div id="familyCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            {% for journal in family_journals %}
                                {% include 'journals/childcare_journal_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#familyCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">前へ</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#familyCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">次へ</span>
                </button>
            </div>
        </section>
            {% for child_id, journals in child_journals.items %}
                {% if journals %}
                <section class="mb-4">
                    <h2>{{ journals.0.child.child_name }}のKotoLog</h2>
                    <a href="{% url 'journals:childcare_journal_list' %}?segment=child&child_id={{ child_id }}">すべて見る</a>
                    <div id="kidCarousel{{ child_id }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for journal in journals %}
                                        {% include 'journals/childcare_journal_card.html' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#kidCarousel{{ child_id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">前へ</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#kidCarousel{{ child_id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">次へ</span>
                        </button>
                    </div>
                </section>  
                {% endif %}
            {% endfor %}   
        {% endif %}
    <section class="mb-4">
        <h2>お気に入りのKotoLog</h2>
        <a href="{% url 'journals:childcare_journal_list' %}?favorites=true">お気に入り</a>
        <div id="favoriteCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        {% for journal in favorite_journals %}
                            {% include 'journals/childcare_journal_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#favoriteCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">前へ</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#favoriteCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">次へ</span>
            </button>
        </div>
    </section>    
    {% endif%}

</section>
  <!-- モーダルテンプレートの読み込み -->
    {% include 'journals/journal_detail.html' %}
{% endblock %}