{% extends 'common/base.html' %}
{% block content %}
{% if childcare_journals.exists %}
    <div id="journalsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        {% for journal in childcare_journals %}
                            {% include 'journals/childcare_journal_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#journalsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">前へ</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#journalsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">次へ</span>
            </button>
    </div>
{% else %}
    <p>育児記録が見つかりません。</p>
{% endif %}
  <!-- モーダルテンプレートの読み込み -->
    {% include 'journals/journal_detail.html' %}
{% endblock %}

