{% extends 'common/base.html' %}
{% block content %}
<section id="childcare_journal_list">
    <ul>
        {% for record in records %}
            <li>
                <strong>{{ record.title }}</strong> - {{ record.published_on }}
                <p>{{ record.content|truncatewords:20 }}</p>  <!-- 20単語にトランケート -->
                <a href="{% url 'childcare_journal_detail' record.id %}">詳細を見る</a>
            </li>
        {% empty %}
            <li>記録がありません。</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}