{% extends 'common/base.html' %}
{% load custom_filters %}
{% block content %}
<section id="childcare_journal_list">
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'journals:delete_childcare_journals' %}?{{ request.GET.urlencode }}" onsubmit="return confirmDelete()">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-danger mb-3 delete-button">選択した育児記録を削除</button>
        </div>
        {% endif %}
        {% if childcare_journals.exists %}
        <div class="cards row">
            {% for journal in childcare_journals %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-subtitle d-flex justify-content-between mb-3">
                            <span>
                            {% if journal.child.family == request.user.family %}
                               <span style="background-color: {{ journal.child.id|generate_hsl_color }}" class="child-name">{{ journal.child.child_name }}</span>
                            {% endif %}
                            {% if journal.is_favorited %}
                            <span>★</span>
                            {% endif %}
                            </span>                        
                        {% if journal.user_id == request.user.id %}
                        <input type="checkbox" name="selected_journals" value="{{ journal.id }}">
                        {% endif %}
                        </h6>
                        {% if journal.image_url %}
                            {% if journal.image_url.url|is_video %}
                                <!-- 動画ファイルの場合は video タグを使用 -->
                                <video poster class="card-img-top" style="max-height: 200px; object-fit: cover;">
                                    <source src="{{ journal.image_url.url }}" type="video/mp4">
                                    お使いのブラウザは動画の再生をサポートしていません。
                                </video>
                            {% else %}
                                <!-- 画像ファイルの場合は img タグを使用 -->
                                <img src="{{ journal.image_url.url }}" class="card-img-top" alt="Journal Image" style="max-height: 200px; object-fit: cover;">
                            {% endif %}
                        {% endif %}
                        <h5 class="card-title mb-2 text-muted">{{ journal.title }}</h5>
                        <p class="card-text card-context">{{ journal.content|truncatewords:20 }}</p>
                        <p class="card-text"><small class="text-muted">作成者: {{ journal.user.account_name }}</small></p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary w-100" data-id="{{ journal.id }}" data-bs-toggle="modal" data-bs-target="#journalModal">詳細を見る</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>

    {% else %}
    <p>育児記録が見つかりません。</p>
</section>

{% endif %}
{% include 'journals/journal_detail.html' %}

<script>
//削除ボタンの表示/非表示
$(document).ready(function() {
  // ページ読み込み時にチェックボックスの数をカウント
   if ($('input[type="checkbox"]').length == 0){
          $('.delete-button').hide();
   }
});

// 削除確認メッセージを表示する
function confirmDelete() {
    return confirm('チェックした育児記録を本当に削除しますか？');
}
</script>
{% endblock %}
