{% load custom_filters %}
<div class="carousel-item active">
    <div class="card h-100">
        <div class="card-body">
            <h6 class="card-subtitle d-flex justify-content-between mb-3">
                <span>
                {% if journal.child.family == request.user.family %}
                    <span style="background-color: {{ journal.child.id|generate_hsl_color }}"  class="child-name">{{ journal.child.child_name }}</span>
                {% endif %}
                {% if journal.is_favorited %}
                <span>★</span>
                {% endif %}
                </span>

            </h6>
             {% if journal.image_url %}
                {% if journal.image_url.url|is_video %}
                    <!-- 動画ファイルの場合は video タグを使用 -->
                    <video poster class="card-img-top" style="max-height: 200px; object-fit: cover;">
                        <source src="{{ journal.image_url.url }}" type="video/mp4">
                        <source src="{{ journal.image_url.url }}" type="video/webm">
                        <source src="{{ journal.image_url.url }}" type="video/ogg">
                        お使いのブラウザは動画の再生をサポートしていません。
                    </video>
                {% else %}
                    <!-- 画像ファイルの場合は img タグを使用 -->
                    <img src="{{ journal.image_url.url }}" class="card-img-top" alt="Journal Image" style="max-height: 200px; object-fit: cover;">
                {% endif %}
            {% endif %}
            <h5 class="card-title mb-2 text-muted">{{ journal.title }}({{ journal.published_on|date:"Y/m/d"  }})</h5>
            <p class="card-text card-context">{{ journal.content|truncatewords:20 }}</p>
            <p class="card-text"><small class="text-muted">作成者: {{ journal.user.account_name }}</small></p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary w-100" data-id="{{ journal.id }}" data-bs-toggle="modal" data-bs-target="#journalModal">詳細を見る</button>
        </div>
    </div>
</div>
