{% extends 'common/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="alert alert-info">
        <p><strong>利用方法:</strong><br>作成するをクリックし、リンク先URLを表示<br>
        招待したい家族にリンク先を共有しアカウントを登録してもらう<br>
        <small class="text-danger">※発行されたURLは一度利用すると失効します。</small></p>
    </div>
    <div class="text-center my-4">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">家族招待URLを作成する</button>
        </form>
    </div>
    {% if invitation_url %}
    <div class="form-group text-center my-4">
        <label for="invitation-url" class="form-label">共有リンク:</label>
        <input type="text" class="form-control text-center" id="invitation-url" value="{{ invitation_url }}" readonly>
    </div>
    {% endif %}
    <div class="text-center mt-5">
        <a href="{% url 'accounts:user_page' %}" class="btn btn-link">マイページへ戻る</a>
    </div>
</div>
{% endblock %}
