{% extends 'base.html' %}
{% block content %}
    <h1>ログインページ</h1>
        <form method="post">
        {% csrf_token %}
        <div>
            メールアドレス
            <input type="email" name="email" value="{{ form.email.value|default:'' }}"> 
        </div>
        
        <div>
            パスワード
            <input type="password" name="password" value="{{ form.name.value|default:'' }}"> 
        </div>

        <button type="submit">ログイン</button>
    </form>
    {{ form.errors }}
    <a href="{% url 'accounts:signup' %}">新規登録</a>
{% endblock %}